@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap');

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    /* outline: 1px solid white; */
}

:root {
    --text-gren: #00FFB8;
    --bg-gren: #18C293;
    /* font size start */
    --font-size-xsm: 12px;
    --font-size-sm: 14px;
    --font-size-md: 16px;
    --font-size-lg: 18px;
    --font-size-xl: 20px;
    --font-size-2xl: 22px;
    --font-size-3xl: 28px;
    --font-size-4xl: 33px;

}

body {
    background: black;
    color: white;
}

.txt-gren {
    color: var(--text-gren);
}

.bg-gren {
    background-color: var(--bg-gren);
}

.font-montserat {
    font-family: 'Montserrat', sans-serif;
}

.font-popins {
    font-family: 'Poppins', sans-serif;
}

.font-xsm {
    font-size: var(--font-size-xsm);
}

.font-sm {
    font-size: var(--font-size-sm);
}

.font-md {
    font-size: var(--font-size-md);
}

.font-lg {
    font-size: var(--font-size-lg);
}

.font-xl {
    font-size: var(--font-size-xl);
}

.font-2xl {
    font-size: var(--font-size-2xl);
}

.font-3xl {
    font-size: var(--font-size-3xl);
}

.font-4xl {
    font-size: var(--font-size-4xl);
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.top-div {
    background: black;
    background-size: 100% 100%;
}

.top-logo {
    width: 35px;
}

.search-input {
    background: none;
    color: white;
    border: none;
}

.search-div {
    border: 1px solid rgba(0, 255, 184, 0.32);
    box-sizing: border-box;
    border-radius: 46px;
    width: fit-content;
    padding: 0px 0px 0px 7px;
}

.search-btn {
    padding: 5px 12px;
    border-top-right-radius: 46px;
    border-bottom-right-radius: 46px;
}

.btn {
    padding: 9px 25px;
    border: none;
    border-radius: 20px;

    transition: all .4s ease-in-out;
}

.btn:hover {
    transform: scale(1.1);
    box-shadow: 0px 10.2915px 38.593px #18C293;
}

.a-tag:hover {
    text-decoration: underline;
}

.glob-2 {
    width: 100%;
    max-width: 350px;
}

.product-div {
    background-color: rgba(105, 105, 105, 0.1);
    backdrop-filter: blur(19.9468px);
    box-shadow: inset 0px 21px 83px rgba(0, 255, 184, 0.1);
    border: 1px solid var(--bg-gren);
    border-radius: 16px;
    padding: 30px 15px;
    padding-top: 120px;
    margin-top: 140px;
    max-width: 350px;
    transition: all .4s ease-in-out;
}

.product-div:hover {
    transform: translateY(-30px);
}

.product-img {
    position: absolute;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 4;
    width: 200px;
}

.img-2 {
    width: 100%;
    margin: 20px 0px;
    max-width: 400px;
}

.big-logo {
    width: 100%;
    max-width: 300px;
}

.social-app {
    width: 150px;
    transition: all .4s ease-in-out;
}

.social-app:hover {
    transform: translateY(-7px);
    filter: drop-shadow(0px 5.99149px 11.983px #18C293);
}

.news-div {
    background: rgba(105, 105, 105, 0.1);
    box-shadow: inset 0px 21px 83px rgba(0, 255, 184, 0.1);
    backdrop-filter: blur(19.9468px);
    padding: 23px 15px;
    border: 1px solid var(--bg-gren);
    border-radius: 16px;
    max-width: 300px;
    transition: all .4s ease-in-out;
    cursor: pointer;
}

.news-div:hover {
    transform: translateY(-20px);
}

.app-div {
    max-width: 350px;
}

.transparent-glob {
    width: 100%;
    max-width: 350px;
}

.input {
    background: linear-gradient(101.08deg, rgba(27, 65, 50, 0.236) 0%, rgba(24, 105, 81, 0.193) 100%);
    backdrop-filter: blur(41px);
    border-radius: 4px;
    width: 100%;
    margin: 9px 0px;
    border: 1px solid #18c2923f;
    padding: 8px 14px;
    text-shadow: 0px -4px 10px rgba(24, 194, 147, 0.25), 0px 5px 11px rgba(24, 194, 147, 0.51);
    color: white;
}



::placeholder {
    color: white;
    opacity: 1;
}

.form-container {
    background: linear-gradient(101.08deg, rgba(20, 119, 98, 0.363) 0%, rgba(29, 102, 68, 0.411) 100%);
    backdrop-filter: blur(41px);
    padding: 20px 10px;
    border-radius: 19px;
}

.botm-logo {
    width: 100%;
    max-width: 300px;
}

.top-p {
    max-width: 694px;
}

.footer-sm {
    margin-bottom: 40px !important;
}

.socal-ap {
    transition: all .3s ease-in-out;
}

.socal-ap:hover {
    transform: scale(1.2);
}

.a-tagg {
    position: relative;
}

.a-tagg::after {
    content: " ";
    transition: all .4s ease-in-out;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: white;
    bottom: -4px;
    left: 0px;
}

.a-tagg:hover::after {
    width: 100%;
}

@media only screen and (min-width:525px) {
    .input {

        max-width: 220px;
    }

    .texarea {
        max-width: 100%;
    }
}


@media only screen and (min-width:768px) {
    .big-logo {
        width: 100%;
        width: 300px;
    }

    .form-container {
        max-width: 320px;
    }

    .input {

        max-width: 100%;
    }

    .about-div {
        max-width: 328px;
    }

    .footer {
        margin-top: 150px;
        height: 332px;
        background: #111010;
    }

    .footer-sm {
        margin-bottom: 60px !important;
    }

    .nes-div {
        margin: 200px 0px;
    }

    .work-div {
        margin: 150px 0px;
    }
}

@media only screen and (min-width:992px) {
    .glob-2 {
        max-width: 430px;
    }

    .img-2 {
        max-width: 500px;
    }

    .verification-div {
        max-width: 540px;
    }

    .big-logo {
        width: 370px;
        max-width: 370px;
    }

    .form-container {
        max-width: 460px;
    }

    .transparent-glob {
        width: 100%;
        max-width: 450px;
    }

    body {
        background: url(../images/png/body.png);
        background-size: 100% 100%;

    }

    .bg-city {
        background: url(../images/png/bg-main.png);
        background-size: 100% 100%;
        min-height: 700px;
        padding-top: 100px;
    }

    .learn-btn {
        margin-top: 40px;
    }

    .about-div {
        max-width: 428px;
    }


}

@media only screen and (min-width:1200px) {
    .glob-2 {
        max-width: 532px;
    }

    .img-2 {
        max-width: 600px;
    }

    .verification-div {
        max-width: 648px;
    }

    .news-div {
        max-width: 350px;
    }

    .form-container {
        max-width: 550px;
        width: 550px;
    }

    .input {

        max-width: 250px;
    }

    .texarea {
        max-width: 100%;
    }

    .about-div {
        max-width: 528px;
    }
}

@media only screen and (min-width:1320px) {

    :root {
        --text-gren: #00FFB8;
        --bg-gren: #18C293;
        /* font size start */
        --font-size-xsm: 12px;
        --font-size-sm: 16px;
        --font-size-md: 18px;
        --font-size-lg: 20px;
        --font-size-xl: 24px;
        --font-size-2xl: 29px;
        --font-size-3xl: 48px;
        --font-size-4xl: 55px;

    }
}

@media only screen and (min-width:1400px) {

    .about-div {
        max-width: 688px;
    }

    .news-div {
        max-width: 410px;
    }

    .product-img {
        width: 235px;
    }

    .product-div {
        padding-top: 180px;
        max-width: 410px;
    }

    .how-div {
        max-width: 700px;
    }

    .img-2 {
        max-width: 620px;
    }

    .form-container {
        max-width: 620px;
        width: 620px;
    }

    .input {
        max-width: 285px;
    }

    .texarea {
        max-width: 100%;
    }

    .transparent-glob {
        position: absolute;
        right: 0px;
        bottom: -55px;
        max-width: 600px;
    }

    .botm-logo {
        max-width: 400px;
    }

    .bg-city {
        min-height: 900px;
        padding-top: 150px;
    }

    .learn-btn {
        margin-top: 60px;
    }
}